<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/reset.css" rel = "stylesheet">
  <link href = "/styles/base.css" rel = "stylesheet">
  <link href = "/styles/layout.css" rel = "stylesheet">
  <link href="/styles/modules.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>MyBook App</h1>
    <img id = "logo" src = "https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
  </header>
  <main>
    <h2>Book Information</h2>
    <a href="/"><h3>Go Back to your Bookshelf</h3></a>
    <section id="container">
        <div class="book-info">
          <img src= <%= chosenBook.image_url %> >
          <h3> <%= chosenBook.title; %> </h3>
          <h4> <%= chosenBook.author; %> </h4>
          <p><%= chosenBook.description; %> </p>
          <span><%= chosenBook.isbn; %></span>
        </div>
    </section>
  </main>
 
  
</body>
</html>