<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./../../layout/head') %>
</head>
<body>
  <%- include('./../../layout/header') %>
  <main>
    <a href="/"><h2 class='result-h2'>Go Back to your Bookshelf</h2></a>
    <section id="one-book-container">
        <div class="one-book-info">
          <img src= <%= chosenBook.image_url %> >
          <h3> <%= chosenBook.title; %> </h3>
          <h4> <%= chosenBook.author; %> </h4>
          <p><%= chosenBook.description; %> </p>
          <span>ISBN: <%= chosenBook.isbn; %></span>
            <div id ="button-set">
              <form action='/books/<%= chosenBook.id %>?_method=DELETE' method='POST'>
                <button class="btn">
                  <span>Delete</span>
                </button>
              </form>
              <a href="/books/<%= chosenBook.id %>/edit">
              <button class="btn">
                <span>Update Details</span>
              </button>
              </a>
            </div>
            </section>
          </section>
        </div>
    </section>
  </main>
  <%- include('./../../layout/footer') %>
</body>
</html>