<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/reset.css" rel = "stylesheet">
    <link href = "/styles/base.css" rel = "stylesheet">
    <link href = "/styles/layout.css" rel = "stylesheet">
    <link href="/styles/modules.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1 id = "results">Results</h1>
      <img id = "logo" src = "https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
    </header>
    <main>
      <section id="container">
        <% output.forEach( book => { %>
          <div class="book-info">
            <img src= <%= book.image_url %> >
            <h3> <%= book.title; %> </h3>
            <h4> <%= book.author; %> </h4>
            <p><%= book.description; %> </p>

            <form action='/add' method="POST">
              <input type='hidden' name='title' value = '<%= book.title%>'>
              <input type='hidden' name='author' value = '<%= book.author%>'>
              <input type='hidden' name='isbn' value = '<%= book.isbn%>'>
              <input type='hidden' name='image_url' value = '<%= book.image_url%>'>
              <input type='hidden' name='description' value = '<%= book.description%>'>
              <button type="submit" id='save-book'>Add to my Library</button>
            </form>
          </div>
        <% }); %>
      </section>
    </main>
    <footer>
      <p>By Yuliya Barysevich | Code Fellows</p>
    </footer>
  </body>
</html>