<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./../layout/head') %>
</head>
<body>
  <%- include('./../layout/header') %>
  <main>
    <div class="title">
      <h2>My Library</h2>
      <h4>Total books: <%= allBooks.length %></h4>
    </div>
    <div class="new-book-container">
      <div class="new-book-center">
        <a href="/searches/new">
          <button class="new-book-btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Find a new book...</span>
          </button>
        </a>
      </div>
    </div>
  
    <section id="container">
      <% allBooks.forEach(book => { %>
        <div class="book-info">
          <div class="book-cover">
            <img src= <%= book.image_url %>>
          </div>
          <div class="book-details">
            <h3> <%= book.title; %> </h3>
            <h4> <%= book.author; %> </h4>
            <a href="/books/<%= book.id %>"><span id ="details">View Details</span></a>
          </div>
        </div>
      <% }); %>
    </section>
  </main>
  <%- include('./../layout/footer') %>
</body>
</html>