<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/reset.css" rel = "stylesheet">
  <link href = "/styles/base.css" rel = "stylesheet">
  <link href = "/styles/layout.css" rel = "stylesheet">
  <link href="/styles/modules.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>MyBook App</h1>
    <img id = "logo" src = "https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
  </header>
  <main>
    <h2>My Bookshell</h2>
    <a href="/searches/new"><h3>Let's find your next favorite book</h3></a>
    <section id="container">
      <% allBooks.forEach(book => { %>
        <div class="book-info">
          <img src= <%= book.image_url %>>
          <h3> <%= book.title; %> </h3>
          <h4> <%= book.author; %> </h4>
          <!-- <p><%= book.description; %> </p>
          <span><%= book.isbn; %></span> -->
          <a href="/books/<%= book.id %>">View Details</a>
        </div>
      <% }); %>
    </section>
  </main>
 
  
</body>
</html>