<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./../layout/head') %>
</head>
<body>
  <%- include('./../layout/header') %>
  <main>
    <h2>My Library</h2>
    <a href="/searches/new"><h3 id='next-book'>Let's find your next favorite book...</h3></a>
    <h4>Total books in my Library: <%= allBooks.length %></h4>
    <section id="container">
      <% allBooks.forEach(book => { %>
        <div class="book-info">
          <div class="book-cover">
            <img src= <%= book.image_url %>>
          </div>
          <div class="book-details">
            <h3> <%= book.title; %> </h3>
            <h4> <%= book.author; %> </h4>
            <a href="/books/<%= book.id %>"><span id ="details">View Details</span></a>
          </div>
        </div>
      <% }); %>
    </section>
  </main>
  <%- include('./../layout/footer') %>
</body>
</html>